body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    

    background-image: url('images/hyper.jpg'); 
    background-size: cover;                 
    background-position: center;            
    background-repeat: no-repeat;           
}
h1{
    color: lightgrey;
}

.container1 {
    width: 90%;
    max-width: 400px;
    height: auto;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 2px;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.pole{
    margin-bottom: 30px
    
}
.remember{
    
    color: lightgrey;
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 20px
    
    
}

form  input{
    text-align: center;
    transform: scale(1.5);
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 70px;
    background: transparent;
    color:aliceblue;
    
}

button{
    text-align: center;
    align-items: center;
    padding: 15px;
    width: 50%;
    height: 20%;
    border-radius: 70px;
    font-weight: bold;
    color: rgb(41, 41, 41);
}
input::placeholder {
    color: lightgray;
    font-size: 10px;
}

button{
     border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    background: transparent;
    
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    
}

form input:focus::placeholder {
    color: transparent;
}

.reg{
    margin-top: 10px;
    margin-bottom: 5px ;
    
}